$app-background-color: rgb(20, 20, 20);
$body-background-color: rgb(40, 40, 40);
$person-card-background-color: rgb(30, 30, 30);
$empty-data-font-color: rgb(255, 94, 20);
$grad-red: linear-gradient(45deg, rgb(49, 20, 20), rgb(41, 35, 35));
$reload-button-background-color: rgb(20, 170, 94);
$person-card-onhover-border-color: rgb(133, 0, 0);
$title-border-color: rgb(255, 47, 47);


body {
    background-color:$body-background-color;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
    width: 90%;
    background-color: $app-background-color;
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
}

.wrapper h1 {
    border-bottom: 5px solid $title-border-color;
    border-left: 5px solid $title-border-color;
    padding-left: 1%;
    background-image: $grad-red;
    
}

.wrapper ul {
    display: flex;
    list-style-type: none;
}

.wrapper li {
    border-bottom:4px solid $app-background-color;
    padding-bottom: 2px;
    padding-right: 40px;
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.wrapper a, a:active, a:visited {
    padding-right: 10px;
    color: white;
    text-decoration: none;
}

.wrapper li:hover {
    border-bottom: 4px solid red;
}

.wrapper {
    width:95%;
    margin: 0 auto;
}

.person-card {
    background-image: url("./res/profile-placeholder.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    height: 200px;
    font-size: 16px;
    text-align: center;
    border: 10px solid rgb(22, 0, 0);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.person-card:hover {
    border: 10px solid $person-card-onhover-border-color;
    background-color: rgb(100, 20, 20);
}

.person-card-id {
    color: rgb(243, 140, 140);
    font-style:italic;
}

.person-card-name {
    line-height:700%;
    font-size:20px;
}

.empty-data-card  {
    background-color: $person-card-background-color;
    color: $empty-data-font-color;
    width: 400px;
    font-size: 32px;
    text-align: center;
    height:60px;
}

.empty-data-card-wrapper {
    background-color: $app-background-color;
    display:flex;
}

.empty-data-card-wrapper button, button:active {
    border: none;
    background: none;
    outline: none;
    color:  $reload-button-background-color;
}

.empty-data-card-wrapper button:hover {
    border: none;
    background: $reload-button-background-color;
    outline: none;
    color:  $app-background-color;
}

.app-title {
    text-align:center;
    border-bottom: 2px solid red;
    width: 100px;
    margin: 0 auto;

}

.input-box {
    width: 350px;
    height: 30px;
    margin-left: 30px;
    font-size: 25px;
    margin-top: 20px;
    background: none;
    outline: none;
    color: white;
    text-align:center;
    border:2px solid rgb(20, 170, 94);
}

.input-box-submit {
    background: none;
    outline: none;
    color:rgb(20, 170, 94);

}

.delete-button {
    background:none;
    outline: none;
    margin-left: 50%;
    margin-top:30px;
    color: red;
    width: 100px;
    height: 50px;
    border:none;
    font-size: 20px;
    
}

.delete-button:active, .delete-button:hover {
    background: rgb(133, 0, 0);
    color: white;
    
}

.add-person, .add-person:active, .add-person:visited {
    font-size: 60px;
    margin-right: 5%;
    margin-top: -40px;
    float: right;    
    text-align:center;
    color: rgb(20, 170, 94);
    height: 40px;
    width: 40px;
    transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.add-person:hover {
    color: rgb(20, 150, 200);
}

.add-panel {
    margin: 0 auto;
    align-items: center;
    background-color: $app-background-color;
    text-align: center;
    margin-top: 100px;
    height: 400px;
    width: 400px;
}

.add-panel input {
    margin-top: 5%;
}

.add-panel input[type="text"] {
    height: 25px;
    margin-top: 35%;
    width: 70%;
    outline:none;
    background:none;
    color: white;
    font-size: 25px;
    text-align:center;
    border:none;
    border-bottom: 2px solid rgb(20, 170, 94);
}

.add-panel input[type="submit"] {
    width: 30%;
    height: 25px;
    background: none;
    outline: none;
    border: none;
    color: rgb(20, 170, 94);
}

.add-panel input[type="submit"]:hover, add-panel input[type="submit"]:active {
    color: white;
    background-color: rgb(20, 170, 94);
}

.chart-wrapper {
    width: 90%;
    height: 500px;
    margin: 0 auto;
}